{% extends "mainApp/base2.html"%}
{% block content%}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="logCont">
            <!--            <div class="justify-content-left" id="form-title">-->
            <!--            </div>-->
            <div class="container">
                <div class="col">
                    <div class="row align-items-start ">
                        <form method="POST" action="">
                        <span id="tot">
                        <h3 class="justify-content-left" id="reg">Login</h3>
                        {% csrf_token %}
                        <div class="test">
                            <p id="label1">Email:</p>
                            {{form.email}}
                        </div>
                        <div class="test">
                            <p id="label2">Password:</p>
                            {{form.password1}}
                        </div>
                            <input class="btn login_btn" type="submit" value="Login">
                        </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

