{% extends "mainApp/base2.html"%}
{% block content%}
{% load static %}
<div>
    <span>Welcome </span><span id="output">NAME</span>
    <hr>
    <span id="message"></span>
    <span>Here's Why:</span>
    <div>
        <span class="headings">Temperature: </span>
        <span id="temp"></span>
    </div>
    <div>
        <span class="headings">Feels Like Temperature:
        </span><span id="feeslike"></span>
    </div>
    <div>
        <span class="headings">Humidity: </span><span id="humid"></span>
    </div>
    <div>
        <span class="headings">Cloud Cover: </span><span id="cloudcover"></span>
    </div>
    <div>
        <span class="headings">Heat Index: </span><span id="heati"></span>
    </div>
    <div>
        <span class="headings">Air Quality Index:</span> <span id="aqi"></span>
    </div>
    <div>
        <span class="headings">Pollen Count: </span><span id="pc"></span>
    </div>
    <div>
        <span class="headings">Dust Count: </span><span id="dc"></span>
    </div>
    <div>
        <span class="headings">Sulfur Dioxide: </span><span id="sd"></span>
    </div>
    <div>
        <span class="headings">UV Index: </span><span id="uv"></span>
    </div>

</div>
{% endblock content %}
