{% extends "mainApp/base2.html"%}
{% block content%}
{% load static %}
<!--<div class="container h-100">-->
<!--    <div class="d-flex justify-content-center h-100">-->
<!--        <div class="user_card">-->
<!--            <div class="d-flex justify-content-center">-->
<!--                <h3 id="form-title">REGISTER ACCOUNT</h3>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center form_container">-->
<!--                <form method="POST" action="">-->
<!--                    {% csrf_token %}-->
<!--                    <div class="input-group mb-2">-->
<!--                        <div class="input-group-append">-->
<!--                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>-->
<!--                        </div>-->
<!--                        {{form.email}}-->
<!--                    </div>-->
<!--                    <div class="input-group mb-2">-->
<!--                        <div class="input-group-append">-->
<!--                            <span class="input-group-text"><i class="fas fa-key"></i></span>-->
<!--                        </div>-->
<!--                        {{form.password1}}-->
<!--                    </div>-->
<!--                    <div class="input-group mb-2">-->
<!--                        <div class="input-group-append">-->
<!--                            <span class="input-group-text"><i class="fas fa-key"></i></span>-->
<!--                        </div>-->
<!--                        {{form.password2}}-->
<!--                    </div>-->

<!--                    <div class="d-flex justify-content-center mt-3 login_container">-->
<!--                        <input class="btn login_btn" type="submit" value="Register Account">-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="container">
    <div class="d-flex justify-content-center">
        <div class="logCont">
<!--            <div class="justify-content-left" id="form-title">-->
<!--            </div>-->
            <div class="container">
                <div class="col">
                    <div class="row align-items-start ">
                    <form method="POST" action="">
                        <span id="tot">
                        <h3 class="justify-content-left" id="reg">Sign Up</h3>
                        {% csrf_token %}
                        <div class="test">
                            <p id="label1">Email:</p>
                            {{form.email}}
                        </div>
                            <div class="test">
                                <p id="label2">Password:</p>
                                {{form.password1}}
                            </div>
                            <div class="test">
                                <p id="label3">Confirm Password:</p>
                                {{form.password2}}
                            </div>
                            <input class="btn login_btn" type="submit" value="Register Account">
                        </span>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    <!--            {% csrf_token %}-->
    <!--            {% for field in form %}-->
    <!--            <div class="input-group-append">-->
    <!--                <span class="input-group-append">-->
    <!--                    <i class="fas fa-key"></i>-->
    <!--                </span>-->
    <!--            </div>-->
    <!--                {{field.label}}-->
    <!--                {{field}}-->
    <!--            {% endfor %}-->



                <!--                <button class="btn" type="submit">Submit</button>-->


<!-- maanav stinky head --->
{% endblock content %}

